[submodule "vendor/iplist-youtube"]
	path = vendor/iplist-youtube
	url = git@github.com:touhidurrr/iplist-youtube.git
[submodule "vendor/ipranges"]
	path = vendor/ipranges
	url = https://github.com/lord-alfred/ipranges
